[submodule "microservices/ordering"]
	path = microservices/ordering
	url = git@github.com:mario1980miranda/ems-aw-algashop-ordering.git
[submodule "docs"]
	path = docs
	url = git@github.com:mario1980miranda/ems-aw-algashop-docs.git
