# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/algashop-meta.iml
/compiler.xml
/gradle.xml
/misc.xml
/modules.xml
/modules/ordering.main.iml
/vcs.xml
